/*   paleta
#03045E
#0077B6
#00B4D8
#90E0EF
#CAF0F8
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&f&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h2 em{
    font-family:'Satisfy', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{     
    background-color: #30406b;
}

#fixed{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px;
    margin: 0 20px 20px 0;
    border-radius: 50%;
    background-color: #001d6e;
    box-shadow:  0 0 5px #43747c;
    text-decoration: none;
}

#fixed span{
    color: #fff;
    font-size: 2em;
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr;
    margin-bottom: 20px;
    background-color: #faf56afb;
}

header span{
    grid-column: span 4;
    display: block;
    color: #fff;
    background-color: #001d6e;
    padding: 13px 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

header h2{     
    font-size: 2em;
    font-weight: 400;
    margin: 50px 0 0 0px ;
}

#banner img{
    display: flex;
    width: 180px;
    height: 180px;
}

#logo{
    padding-top: 35px;
    font-size: 4.5em;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav{
    background-color: #03045E;
    padding: 13px 0;
    grid-column: span 4;
    display: flex;
    justify-content: space-around;
}

header nav a{
    color: #fff;
    text-decoration: none;  
    padding: 10px;
}

header #car{
    margin: 20px 0 0 70px;
}

header nav a:hover{
    border-radius: 15px;
    background-color: #91a0c7;
    color: #000;
}

figure{
    display: inline-block;
    width: 200px;
    height: 200px;
}

button{
    margin-top: 10px;
    padding: 4px 10px;
    border-radius: 10px;
    font-family: 'Russo One', sans-serif;
    color: #fff;
    background-color: #03045E;
}

figure img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

main{
    width: 1080px;
    margin: auto;
}

.container{
    border: 1px solid #000;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    box-shadow: 0 0 10px #000;
    padding: 20px;
}

.container figure{
    display: inline-block;
}

section div{
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
}
section h1{
    margin: 10px 0;
    background-color: #faf56afb;
    border-radius: 20px;
}


.container figure{
    width: 245px;
    height: 290px;
    padding: 10px;
}

footer{
    padding: 30px;
    background-color: #fff;
    margin-top: 10px;
    background-color: #001d6e;
}

fieldset{
    padding: 20px;
}

form input{
    margin-bottom: 10px;
}

form{
    background-color: #fff;
    border-radius: 20px;
    margin-top: 10px;
    padding: 30px;
    box-shadow: 0 0 10px #000;
}

fieldset{
    border-radius: 20px; 
}

form textarea{
    margin-top: 10px;
}

#redes a{
    color: #fff;
}

form legend{
    margin: 0 0 10px 50px;
}

figcaption {
    height: 50px;
    font-size: 14px;
}

#rgms{
    display: flex;
}

#rgms span{
    justify-content: space-between;
    color: #fff;
    margin-right: 20px;
}

#item7 .container{
    padding: 50px 0;
}

figure:hover{
    background-color: #c3c3c3;
    cursor: pointer;

}

.data{
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}


@media only screen and (max-width: 767px){
    header{
        display: block;
    }
}